// --------------------------------------------------
// List
// --------------------------------------------------

.o-list--none {
    @extends $reset-list
}

.o-list--inline {
    @extends $reset-list

    .o-list__item {
        display inline-block
    }
}