// -------------------------
// grids specifications
// -------------------------

$margins = {
    md:  30px
}

$paddings = {
    md:  30px
}

$grids = (12)


// -------------------------
// breakpoints
// -------------------------

$breakpoints = {
    xl: unquote("screen and (min-width: 1400px)") //xl
    lg: unquote("screen and (max-width: 1280px)") //lg
    md: unquote("screen and (max-width: 1025px)") //md
    sm: unquote("screen and (max-width: 767px)")  //sm
    xs: unquote("screen and (max-width: 360px)")  //xs
}