// --------------------------------------------------
// Fonts
// --------------------------------------------------

@font-face {
    font-family: "pier";
    src: url($font-path+"pier-regular-webfont.eot"),    
         url($font-path+"pier-regular-webfont.woff") format("woff"),
         url($font-path+"pier-regular-webfont.ttf") format("truetype"),
         url($font-path+"pier-regular-webfont.svg#heroic_thin") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "pier";
    src: url($font-path+"pier-italic-webfont.eot"),    
         url($font-path+"pier-italic-webfont.woff") format("woff"),
         url($font-path+"pier-italic-webfont.ttf") format("truetype"),
         url($font-path+"pier-italic-webfont.svg#heroic_thin") format("svg");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "pier";
    src: url($font-path+"pier-bold-webfont.eot"),    
         url($font-path+"pier-bold-webfont.woff") format("woff"),
         url($font-path+"pier-bold-webfont.ttf") format("truetype"),
         url($font-path+"pier-bold-webfont.svg#heroic_thin") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "pier";
    src: url($font-path+"pier-bold-italic-webfont.eot"),    
         url($font-path+"pier-bold-italic-webfont.woff") format("woff"),
         url($font-path+"pier-bold-italic-webfont.ttf") format("truetype"),
         url($font-path+"pier-bold-italic-webfont.svg#heroic_thin") format("svg");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "caslon";
    src: url($font-path+"adobe_caslon_pro-webfont.eot"),    
         url($font-path+"adobe_caslon_pro-webfont.woff") format("woff"),
         url($font-path+"adobe_caslon_pro-webfont.ttf") format("truetype"),
         url($font-path+"adobe_caslon_pro-webfont.svg#heroic_thin") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "caslon";
    src: url($font-path+"adobe_caslon_pro_italic-webfont.eot"),    
         url($font-path+"adobe_caslon_pro_italic-webfont.woff") format("woff"),
         url($font-path+"adobe_caslon_pro_italic-webfont.ttf") format("truetype"),
         url($font-path+"adobe_caslon_pro_italic-webfont.svg#heroic_thin") format("svg");
    font-weight: 400;
    font-style: italic;
}